
.containerMood{

}

/* body{
    background-color: lightblue;
} */
div{
    text-align: center;
    display: block;
}
  
    #moodTitle{
        font-size: 70px;
        margin: 0
    }

    button{
        margin:  10px 20px 5px 5px;
        width:150px;
    }

    .row {
        display: block;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 250px;
       
    }

    .btn-toolbar {
        display: block;
    }
