body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}

a{
  text-decoration: none;
}

#logout{
  border: none;
  background: none;
	color: grey;
	border: none;
  padding: 0;
  padding-left: 2px;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  transform: translateY(.5em);
}
#guest_button{
  border: none;
  background: none;
	color: grey;
	border: none;
  padding: 0;
  padding-left: 2px;
	font: inherit;
	cursor: pointer;
  outline: inherit;
}

#guest_button:hover{
  color:white;
}


.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  background: #191919;
  text-align: center;
  margin-left: -250px;
  margin-top: -250px;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="email"],
.box input[type="password"],
.box input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="email"]:focus,
.box input[type="password"]:focus,
.box input[type="text"]:focus  {
  width: 280px;
  border-color: #2ecc71;
}

.submit {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.signup{
  text-align: "center";
}

.submit:hover {
  background: #2ecc71;
}

.displaynone {
  display: none;
}


.animated{ 
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both; 
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}  
